body
{
	background-image: url("1234567.jpg");
}

.photos
{
	margin-left: 100px;
}






.home
{
	font-weight: bold;
	outline-color: red;
	font-family: 'Josefin Sans', sans-serif;
}





main 
{
    font-weight: 10px;
	text-align: center;
	color: white;
}



section h3
{
	font-size: 38px;
	font-weight: 700;
	letter-spacing: 2px;
	text-shadow: 1px 1px 2px black;
	transition: all 2s ease;

}

section h1
{
	margin: 25px 0 15px 0;
	font-size: 52px;
	font-weight: 700;
	text-shadow: 1px 1px 2px black;
}

section p
{
	font-size: 22px;
	margin-bottom: 70px;
	word-spacing: 10px;
	letter-spacing: 3px;
	font-weight: 600;
	text-shadow: 1px 1px 2px black;
}

section a
{
	padding: 12px 30px;
	border-radius: 4px;
	outline: none;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
	text-decoration: none;
	letter-spacing: 1px;
	transition: all .3s ease;
}

section .btnone
{
	background: #fff;
	color: #000;
}

section .btntwo
{
	color: white;
	background: #00b894;
}

section .btnthree
{
	font-size: 15px;
	letter-spacing: 2px;
	word-spacing: 6px;
	width: 100%;
	padding: 10px 95px;
	left: 20px;
	right: 20px;
	top: 100px;
	color: white;
	background: #00b894;
	text-align: center;
}




.change_content:after
{
	content: '';
	animation: changetext 7s infinite linear;
	color: #00b894;
}


@keyframes changetext
{
	0%{content: "Darjeeling";}
	20%{content: "kashmir";}
	40%{content: "Jaipur";}-09/
	60%{content: "Kerela";}
	80%{content: "Delhi";}
	100%{content: "Goa-Mumbai";}
}
